iframe{
    margin: 10px;
    border: 2px solid black;
}
.card h1{
    margin: 20px;
    font-size: 30px;
}
.card p{
    margin: 5px 65px;
}
.video{
    text-align: center;
}
.video h1{
    font-size: 60px;
    margin: 20px;
}